@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #183618;
    color: #fff;
}

.header {
    background-color: #377eb1;
    padding: 15px;
    text-align: left;
}

.header h1 {
    font-size: 24px;
    margin: 0 25px;
}

.banner {
    background-image: url(../AdminCredentials/SchoolBG.jpg);
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    height: 300px;
}



.navbar {
    background-color: #72A0C1;
    display: flex;
    justify-content: left;
    padding: 0 10px
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.navbar li {
    margin: 0 35px;
}

.navbar a1 {
    color:#72A0C1;
    padding: 8px 10.5px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color:#72A0C1;
    padding: 8px 10.5px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.background {
    background-color: #fff;
    padding: 10px 10px 400px 10px;
}

.credentials-container {
    background-color: #377eb1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tab-btn.active {
    background-color: #226a8b;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.credential {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #226a8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #3fa4d3;
}

